@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;1,400&family=Inter:wght@400;500;600&family=Noto+Serif:ital,wght@0,400;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background: #090B11;
  color: white;
}

#root {
  width: 100%;
  min-height: 100vh;
}
